@import "../style";
header{
  padding: 9px;
  font-size: 28px;
  color: #363636;
  background-color: white;
  border-bottom: 1px solid rgba(54, 54, 54, 0.48);
  min-height: 60px;
  div{
    margin-left: 1%;
    display: flex;
    align-items: center;
    color: #363636;
  }

  md-icon{
    cursor: pointer;
    font-size: 28px;
  }
  md-icon:hover{
    color: wheat;
  }

  .is-collapse{
    margin-left: 4%;
  }

  .logout{
    position: absolute;
    right: 1em;
  }
}