.sebm-google-map-container {
      height: 300px;
    }

#publish{
  background: #82C7D6;
  color: white;
}


md-input-container{
  width: 100%;
  color: black;
}

.bottom-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
