
<sebm-google-map   [scrollwheel]="true" [zoom]="zoom" [styles]="mapCustomStyles">

  <sebm-google-map-marker  *ngFor="let company of companies"
                           [latitude]="company.address.location.lat"
                           [longitude]="company.address.location.lng">
    <sebm-google-map-info-window>
      <strong *ngIf="company.company"
              style="color: black">{{company.company.name}}</strong>
      <strong *ngIf="company.master"
              style="color: black">{{company.master.first_name}} {{company.master.last_name}}</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>


</sebm-google-map>
