    <div class="container-material">
        <h1 style="margin-bottom: 1rem;">Авторизация</h1>
        <div class="form-group">
            <md-input-container>
                <input mdInput
                       type="tel"
                       #phone
                       placeholder="Номер телефона"
                       value="+7"
                       name="phone"
                       autofocus
                       pattern="^\+7[0-9]{10}$"
                       required>
            </md-input-container>
        </div>
        <div class="form-group"
             [ngStyle]="{'display': step===0?'none': 'flex'}">
            <md-input-container>
                <input mdInput
                       type="number"
                       id="shest"
                       #code
                       placeholder="Введите код">
            </md-input-container>
        </div>
        <div class="form-group"
             style="margin-bottom: 3rem; margin-top: 1rem">
            <button md-raised-button
                    [disabled]="phone.invalid"
                    (click)="postSub(phone.value, code?.value)">
                {{textButton}}
            </button>
        </div>
    </div>
